@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Poppins:wght@300;400;500;600&family=Prompt:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
}